<!-- we dont set up a full html page here. its just part of a web page-->

<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</header>