<!-- hbs is an html file basically -->

<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <!-- this is .hbs syntax. you use the curly brace notation to access whatever object member was passed to render in src/app.js -->
        <div class="main-content">
            {{>header}}
            <p>{{error}}</p>
        </div>
      
        {{>footer}}
    </body>
</html>
